@(user: Option[User])(implicit lang: Lang, request: play.api.mvc.Request[Any])
@main(Messages("wordDefinition.list.title"), user){
<div class="row-fluid">
    <div class="span6">
        <select id="sourceLanguage" name="sourceLanguage">
            <option>Choose a language</option>
            <option>English</option>
            <option>Deutsch</option>
            <option>Русский</option>
        </select>
        <input type="text" name="source" placeholder="Source word"/>
    </div>

    <div class="span6">

        <select name="targetLanguage">
            <option>Choose a language</option>
            <option>English</option>
            <option>Deutsch</option>
            <option>Русский</option>
        </select>
        <input type="text" name="target" placeholder="Definition" />
    </div>
</div>
}